<!DOCTYPE html>
<html>
<head>
  <title>Crawler rails</title>
  <%= stylesheet_link_tag    "crawler/rails/application", media: "all" %>
  <%= javascript_include_tag "crawler/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice].present? %>
  <div><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
</html>
